name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'helm/**'
jobs:
        
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Steup Go 1.22
      uses: actions/setup-go@v2
      with: 
        go-version: 1.22

    - name: build
      run: go build -o go-web-app

    - name: Test
      run: go test ./..

  code-quality:
    runs-on: ubuntu-latest

    steps: 
    - name: checkout repository
      uses: actions/checkout@v4

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6
      with: 
        version: v1.56.2
    
  push:
    runs-on: ubuntu-latest

    needs: build

    steps: 
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log into DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_TOKEN}}
    
    - name: Build and Push actions
      uses: docker/build-push-action@v6
      with: 
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{secrets.DOCKERHUB_USERNAME}}/go-web-app:${{github-run_id}}
  
  update-newtag-in-helm-chart:
    runs-on: ubuntu-latest

    needs: push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with: 
        token: ${{secrets.TOKEN}}

    - name: update tag in Helm chart
      run: |
        sed -i 's/tag: .*/tag: "${{github.run_id}}"/' helm/go-web-app-chart/values.yaml
    
    - name: commit and push chnages
      run: |
        git config --global user.email "joindevops0425@gmail.com"
        git config --global user.name "JoinDevops0425" 
        git add helm/go-web-app-chart/values.yaml
        git commit - "upgrade tag in heml chart"
        git push


      